.custom-header{
  /* padding: 0.5rem; */
  display: flex;
  gap: 1rem;
  justify-content: center;
  background: #f55a5a;
  align-items: center;
  color: white;
}
.custom-header > img{
  width: 2rem;
  height: 2rem;
}

.custom-header > h2{
  font-weight: 500;
  font-family: Inter;
  /* font-size: 1rem; */
}

